.container-is {
    width: 300px;
    height: 300px;
}
.container-is .image {
    background-image: url("https://banner2.cleanpng.com/20180430/pte/kisspng-black-and-white-portrait-photography-portraits-vector-5ae753a6c9a369.1617906815251096708259.jpg");
}